extends layouts/layout.pug

block pageTitle
	- var title_en="From Builder | SNB RDD"
	- var title_ar="From Builder | SNB RDD"
	- var desc_en=""
	- var isAdmin=true
	- var desc_ar=''
	- var link_en=""
	- var link_ar=""

block content
	-
		const sidebarData = [
			{ link: "users.html", name:"Users & Groups" },
			{ link: "defined-workflow.html", name:"Defined Workflow"},
			//- { link: "#", name:"test3"},
		]

	.flex.bg-gray-100.min-h-screen
		+sidebar(sidebarData)

		// Main Content
		.flex-1.p-3.pb-0
			.flex.justify-between.items-center.mb-6
				h3.font-semibold.m-0 Defined Workflow
			div(class="flex flex-col gap-6 bg-white p-4")
				.accordion-container
					div(class="flex flex-col gap-6")
						.flex.gap-3.justify-end
							.flex.gap-3
								+btn('Edit', '', 'edit', '16', 'mt-4 w-full justify-center cursor-pointer', '', '','',true)
								+btn('Cancel', '', 'cancel', '16', 'mt-4 w-full justify-center cursor-pointer', '', '','',true)
						.flex
							div(class="flex flex-col gap-6 w-50")
								div(class="flex gap-6 whitespace-nowrap items-center")
									+label("Request Name","min-w-[150px]")
									+input(
										"",
										"",
										"text",
										"",
										"",
										"",
										"",
										dataAttrs={
											'data-request': 'name'
										})
								div(class="flex gap-6 whitespace-nowrap")
									+label("Description","min-w-[150px] pt-2")
									+textarea(
										"",
										"min-h-[120px]",
										dataAttrs={
											'data-request': 'description'
										})
							div(class="flex justify-end w-50")
								div(class="flex flex-col gap-6")
									+btn('Save As Draft', '', 'Draft', '16', 'w-full justify-center cursor-pointer', '', '','',true)
									+btn('Apply', '', 'check', '16', 'w-full justify-center cursor-pointer', '', '','',true)
									+btn('Publish', '', 'publish', '16', 'w-full justify-center cursor-pointer', '', '','',true)
			div(class="flex flex-col gap-6 bg-white p-4 mt-5")
				<div id="accordion-group" class="w-full mx-auto space-y-3">
					<div class="border  overflow-hidden">
						<button class="accordion-toggle w-full flex items-center justify-between px-3 py-3 text-left bg-gray-100 hover:bg-gray-200 text-sm font-medium text-gray-800" aria-expanded="false">
						<span> Form Designer</span>
						<svg class="accordion-icon w-4 h-4 transform transition-transform duration-200" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
							<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
						</svg>
						</button>
						<div class="accordion-content max-h-0 overflow-hidden transition-all duration-300 bg-white px-3">
						<div class="py-4 text-sm text-gray-600">
							This is the content of section 1.
						</div>
						</div>
					</div>
					<div class="border  overflow-hidden">
						<button class="accordion-toggle w-full flex items-center justify-between px-3 py-3 text-left bg-gray-100 hover:bg-gray-200 text-sm font-medium text-gray-800" aria-expanded="false">
						<span>Defined Workflow</span>
						<svg class="accordion-icon w-4 h-4 transform transition-transform duration-200" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
							<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
						</svg>
						</button>
						<div class="accordion-content max-h-0 overflow-hidden transition-all duration-300 bg-white px-3">
						<div class="py-4 text-sm text-gray-600">
							.p-2
								.flex.justify-end
									+btn('Add Conditions', '', 'add', '16', 'mt-4 justify-center cursor-pointer', '', '','',true)
								.flex.flex-col.gap-6 
									div(class="flex gap-6  whitespace-nowrap  w-100")
										div(class="flex flex-col gap-6 w-50") 
											div(class="flex gap-6  items-center")
												+label("Flow Name","min-w-[150px]")
												+input("","","text","","","","",dataAttrs={'data-request': 'name'})
											div(class="flex gap-6  items-center")
												+label("Step Name","min-w-[150px]")
												+input("","","text","","","","",dataAttrs={'data-request': 'name'})
										div(class="flex flex-col gap-6 w-50 items-start mt-3")
											+toggle('Set as Open Workflow', 'test',false)
									div(class="flex gap-6 items-center  whitespace-nowrap w-100")
										.w-50.flex.gap-6.items-center
											+label("Flow Name","min-w-[150px]")
											+input("","","text","","","","",dataAttrs={'data-request': 'name'})
										.w-50
											+btn('+ Add New User', '', 'add', '16', 'justify-center cursor-pointer', '', '','',true)
								.flex.gap-6.mt-5
									.p-4.bg-gray-100.w-50
										h4 Approval Case
										.flex.flex-col.items-center.gap-3
											+btn('Add Conditions', '', 'add', '16', 'mt-4 justify-center cursor-pointer', '', '','',true)
											|OR
											+toggle('Mark request as complete & notify stakeholders', 'test',false)
										div(class="flex gap-6  items-center")
											label(class="md:text-md text-base min-w-[100px] font-medium leading-[150%] normal-case tracking-[1.5%] block") Notify
											.relative.w-100
												<select class="select-single" placeholder="Head of Brand" autocomplete="off">
													<option value="">Head of Brand</option>
													<option value="4">Khalid Bin Zia</option>
													<option value="1">Hala Shaikh</option>
													<option value="3">Badar Abu Rassa</option>
												</select>
												span(class="material-symbols-outlined absolute pointer-events-none right-4 bottom-[18px] w-[14px] h-[14px] text-[#B0B0B0]") keyboard_arrow_down
									.p-4.bg-gray-100.w-50
										h4 Rejection Case
										.flex.flex-col.gap-6.mt-4
											div(class="flex gap-6  items-center")
												label(class="md:text-md text-base min-w-[100px] font-medium leading-[150%] normal-case tracking-[1.5%] block") Reassign
												.relative.w-100
													<select class="select-single" placeholder="Head of Brand" autocomplete="off">
														<option value="">Head of Brand</option>
														<option value="4">Khalid Bin Zia</option>
														<option value="1">Hala Shaikh</option>
														<option value="3">Badar Abu Rassa</option>
													</select>
													span(class="material-symbols-outlined absolute pointer-events-none right-4 bottom-[18px] w-[14px] h-[14px] text-[#B0B0B0]") keyboard_arrow_down
											div(class="flex gap-6  items-center")
												label(class="md:text-md text-base min-w-[100px] font-medium leading-[150%] normal-case tracking-[1.5%] block") Notify
												.relative.w-100
													<select class="select-single" placeholder="Head of Brand" autocomplete="off">
														<option value="">Head of Brand</option>
														<option value="4">Khalid Bin Zia</option>
														<option value="1">Hala Shaikh</option>
														<option value="3">Badar Abu Rassa</option>
													</select>
													span(class="material-symbols-outlined absolute pointer-events-none right-4 bottom-[18px] w-[14px] h-[14px] text-[#B0B0B0]") keyboard_arrow_down
						</div>
						</div>
					</div>
					<div class="border  overflow-hidden">
						<button class="accordion-toggle w-full flex items-center justify-between px-3 py-3 text-left bg-gray-100 hover:bg-gray-200 text-sm font-medium text-gray-800" aria-expanded="false">
						<span>Workflow Name</span>
						<svg class="accordion-icon w-4 h-4 transform transition-transform duration-200" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
							<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
						</svg>
						</button>
						<div class="accordion-content max-h-0 overflow-hidden transition-all duration-300 bg-white px-3">
							include includes/components/flow.pug
						</div>
					</div>
					</div>

	script.
		document.addEventListener("DOMContentLoaded", function () {
			const navLinks = document.querySelectorAll('.md\\:space-x-8 a'); 
			const currentPage = window.location.pathname.split('/').pop(); 

			navLinks.forEach(link => {
				const href = link.getAttribute('href');
				if (href === currentPage) {
					// Make active
					link.classList.remove('border-transparent', 'text-gray-500', 'hover:border-gray-300', 'hover:text-gray-700');
					link.classList.add('border-primary-500', 'text-gray-900');
				} else {
					// Make inactive
					link.classList.remove('border-primary-500', 'text-gray-900');
					link.classList.add('border-transparent', 'text-gray-500', 'hover:border-gray-300', 'hover:text-gray-700');
				}
			});

		});
		document.querySelectorAll(".accordion-toggle").forEach((btn) => {
			btn.addEventListener("click", () => {
				const content = btn.nextElementSibling;
				const icon = btn.querySelector(".accordion-icon");
				const isOpen = btn.getAttribute("aria-expanded") === "true";

				btn.setAttribute("aria-expanded", !isOpen);
				icon.classList.toggle("rotate-180", !isOpen);

				if (!isOpen) {
					content.style.maxHeight = content.scrollHeight + "px";
				} else {
					content.style.maxHeight = null;
				}
			});
		});

block pageScripts
	script(src="../assets/js/form-builder.js")