extends layouts/layout.pug

block pageTitle
	- var title_en="From Builder | SNB RDD"
	- var title_ar="From Builder | SNB RDD"
	- var desc_en=""
	- var isAdmin=true
	- var desc_ar=''
	- var link_en=""
	- var link_ar=""

block content
	//- -
	//- 	const users = [
	//- 		{ initials: 'KH', name: 'Khalid Hafiz', email: 'strah.j@example.com' },
	//- 		{ initials: 'MR', name: 'Maryam Radwan', email: 'strah.j@example.com' },
	//- 		{ initials: 'LT', name: 'Lamia Tariq', email: 'John.smith@example.com' },
	//- 		{ initials: 'AM', name: 'Abdul Majeed', email: 'John.smith@example.com' },
	//- 		{ initials: 'HA', name: 'Hassan Al-Omran', email: 'strah.j@example.com' },
	//- 		{ initials: 'MF', name: 'Maha Faisal Alsanooni', email: 'strah.j@example.com' }
	//- 	]

	-
		const sidebarData = [
			{ link: "form-builder.html", name:"Form Builder" },
			{ link: "#", name:"Workflow Designer"},
			//- { link: "#", name:"test3"},
		]

	.flex.bg-gray-100.min-h-screen
		+sidebar(sidebarData)

		// Main Content
		.flex-1.p-3.pb-0
			.flex.justify-between.items-center.mb-6
				h3.font-semibold.m-0 Form Builder

			div(class="flex flex-col gap-6 bg-white p-4")

				div(class="flex gap-6 justify-between items-start")
					div(class="flex flex-col gap-6 w-full")
						div(class="flex gap-6 whitespace-nowrap items-center")
							+label("Request Name","min-w-[150px]")
							+input(
								"",
								"",
								"text",
								"",
								"",
								"",
								"",
								dataAttrs={
									'data-request': 'name'
								})
						div(class="flex gap-6 whitespace-nowrap")
							+label("Description","min-w-[150px] pt-2")
							+textarea(
								"",
								"min-h-[120px]",
								dataAttrs={
									'data-request': 'description'
								})
					div(class="flex justify-end w-50")
						div(class="flex flex-col gap-3")
							+btn('Save As Draft', '', 'Draft', '16', 'w-full justify-center cursor-pointer', '', '','',true)
							+btn('Apply', '', 'check', '16', 'w-full justify-center cursor-pointer', '', '','',true)
							+btn('Publish', '', 'publish', '16', 'w-full justify-center cursor-pointer', '', '','',true)
				
				<div id="accordion-group" class="w-full mx-auto space-y-3">
					<div class="form-container border overflow-hidden">
						<button class="accordion-toggle w-full flex items-center justify-between px-3 py-3 text-left bg-gray-100 hover:bg-gray-200 text-sm font-medium text-gray-800" aria-expanded="true">
						<span> Form</span>
						<svg class="accordion-icon w-4 h-4 transform transition-transform duration-200 rotate-180" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
							<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
						</svg>
						</button>
						<div class="accordion-content max-h-0 overflow-hidden transition-all duration-300 bg-white px-3 active-content" style="max-height: 488px;">
						<div class="py-4 text-sm text-gray-600">
							
							include includes/components/form-builder.pug							


						</div>
						</div>
					</div>
					//- <div class="form-container border">
					//- 	<button class="accordion-toggle w-full flex items-center justify-between px-3 py-3 text-left bg-gray-100 hover:bg-gray-200 text-sm font-medium text-gray-800" aria-expanded="false">
					//- 	<span>Form Two</span>
					//- 	<svg class="accordion-icon w-4 h-4 transform transition-transform duration-200" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
					//- 		<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
					//- 	</svg>
					//- 	</button>
					//- 	<div class="accordion-content transition-all duration-300 bg-white px-3">
					//- 	<div class="py-4 text-sm text-gray-600">
					//- 		include includes/components/form-builder.pug
					//- 	</div>
					//- 	</div>
					//- </div>
					
					</div>
				
				//- div(class="grid grid-cols-2 items-start gap-2 p-2")

					div(class="flex flex-col gap-2 bg-gray-200 p-2")
						div(id="formBuilder" class="bg-white p-4 rounded relative")
							include includes/components/loader.pug

							div
								div(class="grid grid-cols-1 gap-x-5 gap-y-8")
									.form-field
										+formSelect("Add New Field", "Select the field", ["Text Field","Text Area", "Drop Down","Radio","Check Boxes","Date Picker","File Attachment", "Heading", "Submit Button", "Cancel Button", "Consent Checkbox", "Validation Error Messages"], "","","FieldTypeDropDown")
								//- +btn('Add Field', '', 'add', '16', 'saveBtn mt-4 w-full justify-center cursor-pointer', '', true)
								//- span(onclick="showFieldBox()" class='inline-flex items-center gap-1.5 relative text-white px-4 py-2 rounded font-medium text-sm no-underline font-green mt-4 w-full justify-center cursor-pointer bg-green hover:bg-lightGreen') Add Field
								//- 	i.material-symbols-outlined(style=`font-size: 16px`, class='rtl:rotate-[270deg]') add

						div(id="textField" class="bg-white p-4 rounded relative field-box hidden")
							h2.text-xl.font-semibold.mb-6 Text Field
							div(class="closeBtnFieldBoxJS absolute top-[28px] right-[20px]")
								button(class="hover:opacity-[0.8]" title="Close Window")
									span(class="material-symbols-outlined text-[20px] rtl:-rotate-[100deg]") close

							form.form-submit
								div(class="grid grid-cols-1 gap-x-5 gap-y-8")
									div(class="grid grid-cols-2 gap-x-5 gap-y-8")
										div
											+formInput(
												"Label - EN",
												"(e.g.. Request Title)",
												"text",
												"label-en",
												"",
												"",
												"",
												"",
												true,
												"",
												dataAttrs={
													'data-label': 'en'
												})
										div
											+formInput(
												"Label - AR",
												"(e.g.. Request Title)",
												"text",
												"label-ar", 
												"",
												"",
												"",
												"",
												true,
												"",
												dataAttrs={
													'data-label': 'ar'
												})
										div
											+formInput(
												"Placeholder Text - EN",
												"Request Title",
												"text",
												"placeholder-en",
												"",
												"",
												"",
												"",
												"",
												"",
												dataAttrs={
													'data-placeholder': 'en',
												})
										
										div
											+formInput(
												"Placeholder Text - AR",
												"Request Title",
												"text",
												"placeholder-ar",
												"",
												"",
												"",
												"",
												"",
												"",
												dataAttrs={
													'data-placeholder': 'ar',
												})
										div
											+formInput(
												"Tooltip - EN",
												"Request Title",
												"text",
												"tooltip-en",
												"",
												"",
												"",
												"",
												"",
												"",
												dataAttrs={
													'data-tooltip': 'en',
												})
										div
											+formInput(
												"Tooltip - AR",
												"Request Title",
												"text",
												"tooltip-ar",
												"",
												"",
												"",
												"",
												"",
												"",
												dataAttrs={
													'data-tooltip': 'ar',
												})
										
									div(class="flex flex-col gap-3")
										+label("Validations:","pb-0")
										div(class="flex gap-3")
											div(class="flex gap-1")
												+custom-switch("Min:", "min", "", "min")
												+formInputNumber("10", "number", "min", "")
											div(class="flex gap-1")
												+custom-switch("Max:", "max", "", "max")
												+formInputNumber("250", "number", "max", "")
											+custom-switch("Required", "required", "", "required")

										div(class="flex gap-3")
											div(class="flex gap-1")
												+custom-switch("Validate:", "validate", "", "validate")
												//- +formSelect("", "Select Regex", ["Name","Email", "Phone Number","Account Number","Saudi ID","Custom"], "","","RegexType")
												+formSelect(
													"",
													"Select Regex",
													null,
													"",
													"",
													"RegexType",
													{},
													[
														{ key: "/^[a-zA-Z\s]{2,50}$/", value: "Name" },
														{ key: "/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/", value: "Email" },
														{ key: "/^\+?(\d{1,3})?[-.\s]?\(?\d{3}\)?[-.\s]?\d{3}[-.\s]?\d{4}$/", value: "Phone Number" },
														{ key: "/^\d{6,20}$/", value: "Account Number" },
														{ key: "/^\d{10}$/", value: "Saudi ID" },
														{ key: "custom", value: "Custom" }
													]
												)
										div(class="flex gap-3")
											div(id="regexField" class="flex gap-1 regex-box hidden")
												+custom-switch("Regex:", "regex", "", "regex")
												+formInputNumber("(e.g.. [A-Z][a-z])", "text", "regex", "!w-[150px]")

									div(class="flex flex-col gap-3")
										+label("Validation Error Messages:","pb-0")
										div(class="flex gap-3")
											div(class="w-full grid grid-cols-2 gap-x-5 gap-y-8")
												div
													+formInput(
														"English",
														"",
														"text",
														"label-en",
														"",
														"",
														"",
														"",
														"",
														"",
														dataAttrs={
															'data-validation-message': 'en'
														})
												div
													+formInput(
														"Arabic",
														"",
														"text",
														"label-ar",
														"",
														"",
														"",
														"",
														"",
														"",
														dataAttrs={
															'data-validation-message': 'ar'
														})
								+btn('Save Field', '', 'save', '16', 'saveBtn mt-4 w-full justify-center cursor-pointer', '', '','',true)
								+btn('Update Field', '', 'update', '16', 'updateBtn hidden mt-4 w-full justify-center cursor-pointer', '', '','',true)

						div(id="textArea" class="bg-white p-4 rounded relative field-box hidden")
							h2.text-xl.font-semibold.mb-6 Text Area
							div(class="closeBtnFieldBoxJS absolute top-[28px] right-[20px]")
								button(class="hover:opacity-[0.8]" title="Close Window")
									span(class="material-symbols-outlined text-[20px] rtl:-rotate-[100deg]") close

							form.form-submit
								div(class="grid grid-cols-1 gap-x-5 gap-y-8")
									div(class="grid grid-cols-2 gap-x-5 gap-y-8")
										div
											+formInput(
												"Label - EN",
												"(e.g.. Request Description)",
												"text",
												"label-en",
												"",
												"",
												"",
												"",
												true,
												"",
												dataAttrs={
													'data-label': 'en'
												})
										div
											+formInput(
												"Label - AR",
												"(e.g.. Request Description)",
												"text",
												"label-ar",
												"",
												"",
												"",
												"",
												true,
												"",
												dataAttrs={
													'data-label': 'ar'
												})
										div
											+formInput(
												"Placeholder Text - EN",
												"Request Description",
												"text",
												"placeholder-en",
												"",
												"",
												"",
												"",
												"",
												"",
												dataAttrs={
													'data-placeholder': 'en',
												})
										
										div
											+formInput(
												"Placeholder Text - AR",
												"Request Description",
												"text",
												"placeholder-ar",
												"",
												"",
												"",
												"",
												"",
												"",
												dataAttrs={
													'data-placeholder': 'ar',
												})
										div
											+formInput(
												"Tooltip - EN",
												"Request Title",
												"text",
												"tooltip-en",
												"",
												"",
												"",
												"",
												"",
												"",
												dataAttrs={
													'data-tooltip': 'en',
												})
										div
											+formInput(
												"Tooltip - AR",
												"Request Title",
												"text",
												"tooltip-ar",
												"",
												"",
												"",
												"",
												"",
												"",
												dataAttrs={
													'data-tooltip': 'ar',
												})

									div(class="flex flex-col gap-3")
										+label("Validations:")
										div(class="flex gap-3")
											+custom-switch("Required", "textarea-required", "","required")
											div(class="flex gap-1")
												+custom-switch("Min:", "min", "","min")
												+formInputNumber("10", "number", "min", "")
											div(class="flex gap-1")
												+custom-switch("Max:", "max", "","max")
												+formInputNumber("250", "number", "max", "")
									div(class="flex flex-col gap-3")
										+label("Validation Error Messages:","pb-0")
										div(class="flex gap-3")
											div(class="w-full grid grid-cols-2 gap-x-5 gap-y-8")
												div
													+formInput(
														"English",
														"",
														"text",
														"label-en",
														"",
														"",
														"",
														"",
														"",
														"",
														dataAttrs={
															'data-validation-message': 'en'
														})
												div
													+formInput(
														"Arabic",
														"",
														"text",
														"label-ar",
														"",
														"",
														"",
														"",
														"",
														"",
														dataAttrs={
															'data-validation-message': 'ar'
														})
								+btn('Save Field', '', 'save', '16', 'saveBtn mt-4 w-full justify-center cursor-pointer', '', '','',true)
								+btn('Update Field', '', 'update', '16', 'updateBtn hidden mt-4 w-full justify-center cursor-pointer', '', '','',true)

						div(id="dropDown" class="bg-white p-4 rounded relative field-box hidden")
							h2.text-xl.font-semibold.mb-6 Dropdown
							div(class="closeBtnFieldBoxJS absolute top-[28px] right-[20px]")
								button(class="hover:opacity-[0.8]" title="Close Window")
									span(class="material-symbols-outlined text-[20px] rtl:-rotate-[100deg]") close

							form.form-submit
								div(class="grid grid-cols-1 gap-x-5 gap-y-8")
									div(class="grid grid-cols-2 gap-x-5 gap-y-8")
										div
											+formInput(
												"Label - EN",
												"(e.g.. Select Option)",
												"text",
												"label-en",
												"",
												"",
												"",
												"",
												true,
												"",
												dataAttrs={
													'data-label': 'en'
												}
												)
										div
											+formInput(
												"Label - AR",
												"(e.g.. Select Option)",
												"text",
												"label-ar",
												"",
												"",
												"",
												"",
												true,
												"",
												dataAttrs={
													'data-label': 'ar'
												}
												)
										div
											+formInput(
												"Placeholder Text - EN",
												"Select Option",
												"text",
												"placeholder-en",
												"",
												"",
												"",
												"",
												"",
												"",
												dataAttrs={
													'data-placeholder': 'en',
												}
												)
										
										div
											+formInput(
												"Placeholder Text - AR",
												"Select Option",
												"text",
												"placeholder-ar",
												"",
												"",
												"",
												"",
												"",
												"",
												dataAttrs={
													'data-placeholder': 'ar',
												}
												)
										div
											+formInput(
												"Tooltip - EN",
												"Request Title",
												"text",
												"tooltip-en",
												"",
												"",
												"",
												"",
												"",
												"",
												dataAttrs={
													'data-tooltip': 'en',
												})
										div
											+formInput(
												"Tooltip - AR",
												"Request Title",
												"text",
												"tooltip-ar",
												"",
												"",
												"",
												"",
												"",
												"",
												dataAttrs={
													'data-tooltip': 'ar',
												})
										
									div(class="flex flex-col gap-3")
										+label("Validations:")
										div(class="flex gap-3")
											+custom-switch("Required", "required", "","required")

									div.table-section.overflow-x-auto
										table.w-full.text-sm.text-left.text-gray-700
											thead.text-xs.uppercase.text-gray-500.bg-gray-100
												tr
													th.px-2.py-3.font-semibold.text-center Key
													th.px-2.py-3.font-semibold.text-center Value EN
													th.px-2.py-3.font-semibold.text-center Value AR
													th.px-2.py-3.font-semibold.text-center Action
													th.px-2.py-3.font-semibold.text-center Add Workflow
											tbody.requestsTable
										div(class="flex gap-6 mt-4")
											+formInput("", "Add Key", "text", "addKey", "",'inputKey', '', '', true)
											+formInput("", "Add Value En", "text", "addValueEn", "", 'inputValueEn', '', '', true)
											+formInput("", "Add Value Ar", "text", "addValueAr", "", 'inputValueAr', '', '', true)
											+btn('Add', '', '', '16', 'addRowBtn mt-0 justify-center cursor-pointer', '', true)

								+btn('Save Field', '', 'save', '16', 'saveBtn mt-4 w-full justify-center cursor-pointer', '', '','',true)
								+btn('Update Field', '', 'update', '16', 'updateBtn hidden mt-4 w-full justify-center cursor-pointer', '', '','',true)

						div(id="radio" class="bg-white p-4 rounded relative field-box hidden")
							h2.text-xl.font-semibold.mb-6 Radio Buttons
							div(class="closeBtnFieldBoxJS absolute top-[28px] right-[20px]")
								button(class="hover:opacity-[0.8]" title="Close Window")
									span(class="material-symbols-outlined text-[20px] rtl:-rotate-[100deg]") close

							form.form-submit
								div(class="grid grid-cols-1 gap-x-5 gap-y-8")
									div(class="grid grid-cols-2 gap-x-5 gap-y-8")
										div
											+formInput(
												"Label - EN",
												"(e.g.. Select Option)",
												"text",
												"label-en",
												"",
												"",
												"",
												"",
												true,
												"",
												dataAttrs={
													'data-label': 'en'
												}
												)
										//- div
											+formInput(
												"Placeholder Text - EN",
												"Select Option",
												"text",
												"placeholder-en",
												"",
												"",
												"",
												"",
												"",
												"",
												dataAttrs={
													'data-placeholder': 'en',
												}
												)
										div
											+formInput(
												"Label - AR",
												"(e.g.. Select Option)",
												"text",
												"label-ar",
												"",
												"",
												"",
												"",
												true,
												"",
												dataAttrs={
													'data-label': 'ar'
												}
												)
										//- div
											+formInput(
												"Placeholder Text - AR",
												"Select Option",
												"text",
												"placeholder-ar",
												"",
												"",
												"",
												"",
												"",
												"",
												dataAttrs={
													'data-placeholder': 'ar',
												}
												)
										div
											+formInput(
												"Tooltip - EN",
												"Request Title",
												"text",
												"tooltip-en",
												"",
												"",
												"",
												"",
												"",
												"",
												dataAttrs={
													'data-tooltip': 'en',
												})
										div
											+formInput(
												"Tooltip - AR",
												"Request Title",
												"text",
												"tooltip-ar",
												"",
												"",
												"",
												"",
												"",
												"",
												dataAttrs={
													'data-tooltip': 'ar',
												})
									div(class="flex flex-col gap-3")
										+label("Validations:")
										div(class="flex gap-3")
											+custom-switch("Required", "required2", "","required")

									div.table-section.overflow-x-auto
										table.w-full.text-sm.text-left.text-gray-700
											thead.text-xs.uppercase.text-gray-500.bg-gray-100
												tr
													th.px-2.py-3.font-semibold.text-center Key
													th.px-2.py-3.font-semibold.text-center Value EN
													th.px-2.py-3.font-semibold.text-center Value AR
													th.px-2.py-3.font-semibold.text-center Action
													th.px-2.py-3.font-semibold.text-center Add Workflow
											tbody.requestsTable

										div(class="flex gap-6 mt-4")
											+formInput("", "Add Key", "text", "addKey", "",'inputKey', '', '', true)
											+formInput("", "Add Value En", "text", "addValueEn", "", 'inputValueEn')
											+formInput("", "Add Value Ar", "text", "addValueAr", "", 'inputValueAr')
											+btn('Add', '', '', '16', 'addRowBtn mt-0 justify-center cursor-pointer', '', true)


									//- div(class="flex gap-6")
										+formInput("", "Add Key", "text", "addKey", "")
										+formInput("", "Add Value En", "text", "addValueEn", "")
										+formInput("", "Add Value Ar", "text", "addValueAr", "")
										+btn('Add', '', '', '16', 'addRowBtnJS mt-0 justify-center cursor-pointer', '', true)
								+btn('Save Field', '', 'save', '16', 'saveBtn mt-4 w-full justify-center cursor-pointer', '', '','',true)
								+btn('Update Field', '', 'update', '16', 'updateBtn hidden mt-4 w-full justify-center cursor-pointer', '', '','',true)

						div(id="checkBoxes" class="bg-white p-4 rounded relative field-box hidden")
							h2.text-xl.font-semibold.mb-6 Check Boxes
							div(class="closeBtnFieldBoxJS absolute top-[28px] right-[20px]")
								button(class="hover:opacity-[0.8]" title="Close Window")
									span(class="material-symbols-outlined text-[20px] rtl:-rotate-[100deg]") close

							form.form-submit
								div(class="grid grid-cols-1 gap-x-5 gap-y-8")
									div(class="grid grid-cols-2 gap-x-5 gap-y-8")
										div
											+formInput(
												"Label - EN",
												"(e.g.. Select Option)",
												"text",
												"label-en",
												"",
												"",
												"",
												"",
												true,
												"",
												dataAttrs={
													'data-label': 'en'
												}
												)
										//- div
											+formInput(
												"Placeholder Text - EN",
												"Select Option",
												"text",
												"placeholder-en",
												"",
												"",
												"",
												"",
												"",
												"",
												dataAttrs={
													'data-placeholder': 'en',
												}
												)
										div
											+formInput(
												"Label - AR",
												"(e.g.. Select Option)",
												"text",
												"label-ar",
												"",
												"",
												"",
												"",
												true,
												"",
												dataAttrs={
													'data-label': 'ar'
												}
												)
										//- div
											+formInput(
												"Placeholder Text - AR",
												"Select Option",
												"text",
												"placeholder-ar",
												"",
												"",
												"",
												"",
												"",
												"",
												dataAttrs={
													'data-placeholder': 'ar',
												}
												)
										div
											+formInput(
												"Tooltip - EN",
												"Request Title",
												"text",
												"tooltip-en",
												"",
												"",
												"",
												"",
												"",
												"",
												dataAttrs={
													'data-tooltip': 'en',
												})
										div
											+formInput(
												"Tooltip - AR",
												"Request Title",
												"text",
												"tooltip-ar",
												"",
												"",
												"",
												"",
												"",
												"",
												dataAttrs={
													'data-tooltip': 'ar',
												})
									div(class="flex flex-col gap-3")
										+label("Validations:")
										div(class="flex gap-3")
											+custom-switch("Required", "required1", "", "required")
										div(class="flex gap-3")
											div(class="flex gap-1")
												+custom-switch("Min Selected:", "minSelect", "", "minSelect")
												+formInputNumber("1", "number", "minSelect", "")
											div(class="flex gap-1")
												+custom-switch("Max Selected:", "maxSelect", "", "maxSelect")
												+formInputNumber("2", "number", "minSelect", "")

									div.table-section.overflow-x-auto
										table.w-full.text-sm.text-left.text-gray-700
											thead.text-xs.uppercase.text-gray-500.bg-gray-100
												tr
													th.px-2.py-3.font-semibold.text-center Key
													th.px-2.py-3.font-semibold.text-center Value EN
													th.px-2.py-3.font-semibold.text-center Value AR
													th.px-2.py-3.font-semibold.text-center Action
													th.px-2.py-3.font-semibold.text-center Add Workflow
											tbody.requestsTable
										div(class="flex gap-6 mt-4")
											+formInput("", "Add Key", "text", "addKey", "",'inputKey', '', '', true)
											+formInput("", "Add Value En", "text", "addValueEn", "", 'inputValueEn')
											+formInput("", "Add Value Ar", "text", "addValueAr", "", 'inputValueAr')
											+btn('Add', '', '', '16', 'addRowBtn mt-0 justify-center cursor-pointer', '', true)

								+btn('Save Field', '', 'save', '16', 'saveBtn mt-4 w-full justify-center cursor-pointer', '', '','',true)
								+btn('Update Field', '', 'update', '16', 'updateBtn hidden mt-4 w-full justify-center cursor-pointer', '', '','',true)

						div(id="datePicker" class="bg-white p-4 rounded relative field-box hidden")
							h2.text-xl.font-semibold.mb-6 Date Picker
							div(class="closeBtnFieldBoxJS absolute top-[28px] right-[20px]")
								button(class="hover:opacity-[0.8]" title="Close Window")
									span(class="material-symbols-outlined text-[20px] rtl:-rotate-[100deg]") close

							form.form-submit
								div(class="grid grid-cols-1 gap-x-5 gap-y-8")
									div(class="grid grid-cols-2 gap-x-5 gap-y-8")
										div
											+formInput(
												"Label - EN",
												"(e.g.. Date)",
												"text",
												"label-en",
												"",
												"",
												"",
												"",
												true,
												"",
												dataAttrs={
													'data-label': 'en'
												}
												)
										//- div
											+formInput(
												"Placeholder Text - EN",
												"Select Date",
												"text",
												"placeholder-en",
												"",
												"",
												"",
												"",
												"",
												"",
												dataAttrs={
													'data-placeholder': 'en',
												}
												)
										div
											+formInput(
												"Label - AR",
												"(e.g.. Date)",
												"text",
												"label-ar",
												"",
												"",
												"",
												"",
												true,
												"",
												dataAttrs={
													'data-label': 'ar'
												}
												)
										//- div
											+formInput(
												"Placeholder Text - AR",
												"Select Date",
												"text",
												"placeholder-ar",
												"",
												"",
												"",
												"",
												"",
												"",
												dataAttrs={
													'data-placeholder': 'ar',
												}
												)
										div
											+formInput(
												"Tooltip - EN",
												"Request Title",
												"text",
												"tooltip-en",
												"",
												"",
												"",
												"",
												"",
												"",
												dataAttrs={
													'data-tooltip': 'en',
												})
										div
											+formInput(
												"Tooltip - AR",
												"Request Title",
												"text",
												"tooltip-ar",
												"",
												"",
												"",
												"",
												"",
												"",
												dataAttrs={
													'data-tooltip': 'ar',
												})
									div(class="flex flex-col gap-3")
										+label("Validations:")
										div(class="flex gap-3")
											+custom-switch("Required", "required-date", "", "required")
								+btn('Save Field', '', 'save', '16', 'saveBtn mt-4 w-full justify-center cursor-pointer', '', '','',true)
								+btn('Update Field', '', 'update', '16', 'updateBtn hidden mt-4 w-full justify-center cursor-pointer', '', '','',true)

						div(id="fileAttachment" class="bg-white p-4 rounded relative field-box hidden")
							h2.text-xl.font-semibold.mb-6 File Attachment
							div(class="closeBtnFieldBoxJS absolute top-[28px] right-[20px]")
								button(class="hover:opacity-[0.8]" title="Close Window")
									span(class="material-symbols-outlined text-[20px] rtl:-rotate-[100deg]") close

							form.form-submit
								div(class="grid grid-cols-1 gap-x-5 gap-y-8")
									div(class="grid grid-cols-2 gap-x-5 gap-y-8")
										div
											+formInput(
												"Label - EN",
												"(e.g.. Date)",
												"text",
												"label-en",
												"",
												"",
												"",
												"",
												true,
												"",
												dataAttrs={
													'data-label': 'en'
												}
												)
										div
											+formInput(
												"Label - AR",
												"(e.g.. Date)",
												"text",
												"label-ar",
												"",
												"",
												"",
												"",
												true,
												"",
												dataAttrs={
													'data-label': 'ar'
												}
												)
										
										div
											+formInput(
												"Button Text - EN",
												"Upload File",
												"text",
												"attachment-button-en",
												"",
												"",
												"",
												"",
												"",
												"",
												dataAttrs={
													'data-attachment-button': 'en',
												}
												)
										
										div
											+formInput(
												"Button Text - AR",
												"Upload File",
												"text",
												"attachment-button-ar",
												"",
												"",
												"",
												"",
												"",
												"",
												dataAttrs={
													'data-attachment-button': 'ar',
												}
												)
										div
											+formInput(
												"Tooltip - EN",
												"Request Title",
												"text",
												"tooltip-en",
												"",
												"",
												"",
												"",
												"",
												"",
												dataAttrs={
													'data-tooltip': 'en',
												})
										div
											+formInput(
												"Tooltip - AR",
												"Request Title",
												"text",
												"tooltip-ar",
												"",
												"",
												"",
												"",
												"",
												"",
												dataAttrs={
													'data-tooltip': 'ar',
												})
									div(class="flex flex-col gap-3")
										+label("Validations:")
										div(class="flex gap-3")
											+custom-switch("Required", "required-file", "", "required")
										div(class="flex gap-3")
											div(class="flex gap-1")
												+custom-switch("Allowed Extensions:", "extensions", "", "extensions")
												+formInputNumber("(e.g.. docx,pdf,jpg,png)", "text", "extensions", "!w-[200px]")
										div(class="flex gap-3")
											div(class="flex gap-1")
												+custom-switch("Max Files", "maxFiles", "", "maxFiles")
												+formInputNumber("10", "number", "maxFiles", "")
											div(class="flex gap-1")
												+custom-switch("Max File Size in MB:", "maxFileSizeMB", "", "maxFileSizeMB")
												+formInputNumber("250", "number", "maxFileSizeMB", "")

										
									
									

								+btn('Save Field', '', 'save', '16', 'saveBtn mt-4 w-full justify-center cursor-pointer', '', '','',true)
								+btn('Update Field', '', 'update', '16', 'updateBtn hidden mt-4 w-full justify-center cursor-pointer', '', '','',true)

						div(id="heading" class="bg-white p-4 rounded relative field-box hidden")
							h2.text-xl.font-semibold.mb-6 Heading
							div(class="closeBtnFieldBoxJS absolute top-[28px] right-[20px]")
								button(class="hover:opacity-[0.8]" title="Close Window")
									span(class="material-symbols-outlined text-[20px] rtl:-rotate-[100deg]") close

							form.form-submit
								div(class="grid grid-cols-1 gap-x-5 gap-y-8")
									div(class="grid grid-cols-2 gap-x-5 gap-y-8")
										div
											+formInput(
												"Text - EN",
												"Title",
												"text",
												"text-en",
												"",
												"",
												"",
												"",
												true,
												"",
												dataAttrs={
													'data-heading': 'en'
												}
												)
										div
											+formInput(
												"Text - AR",
												"Title",
												"text",
												"text-ar",
												"",
												"",
												"",
												"",
												true,
												"",
												dataAttrs={
													'data-heading': 'ar'
												}
												)
										div
											+formSelect(
												"Heading Tag",
												"Select the Tag",
												["H1","H2", "H3","H4","H5","H6"],
												"",
												"",
												"tag",
												dataAttrs={
													'data-heading': 'tag'
												}
												)
								//- div(class="flex flex-col gap-3")
									+label("Validations:")
									div(class="flex gap-3")
										+custom-switch("Required", "required", "", "required")

								+btn('Save Field', '', 'save', '16', 'saveBtn mt-4 w-full justify-center cursor-pointer', '', '','',true)
								+btn('Update Field', '', 'update', '16', 'updateBtn hidden mt-4 w-full justify-center cursor-pointer', '', '','',true)

						div(id="cancelButton" class="bg-white p-4 rounded relative field-box hidden")
							h2.text-xl.font-semibold.mb-6 Cancel Button
							div(class="closeBtnFieldBoxJS absolute top-[28px] right-[20px]")
								button(class="hover:opacity-[0.8]" title="Close Window")
									span(class="material-symbols-outlined text-[20px] rtl:-rotate-[100deg]") close

							form.form-submit
								div(class="grid grid-cols-1 gap-x-5 gap-y-8")
									div(class="grid grid-cols-2 gap-x-5 gap-y-8")
										div
											+formInput(
												"Button Text - EN:",
												"(e.g.. Cancel)",
												"text",
												"text-en",
												"",
												"",
												"",
												"",
												true,
												"",
												dataAttrs={
													'data-cancel-button': 'en'
												}
												)
										div
											+formInput(
												"Button Text - AR:",
												"(e.g.. Cancel)",
												"text",
												"text-ar",
												"",
												"",
												"",
												"",
												true,
												"",
												dataAttrs={
													'data-cancel-button': 'ar'
												}
												)
										div
											+formInput(
												"Tooltip - EN",
												"Request Title",
												"text",
												"tooltip-en",
												"",
												"",
												"",
												"",
												"",
												"",
												dataAttrs={
													'data-tooltip': 'en',
												})
										div
											+formInput(
												"Tooltip - AR",
												"Request Title",
												"text",
												"tooltip-ar",
												"",
												"",
												"",
												"",
												"",
												"",
												dataAttrs={
													'data-tooltip': 'ar',
												})
									//- div(class="flex flex-col gap-3")
									//- +label("Validations:")
									//- div(class="flex gap-3")
										+custom-switch("Required", "required", "", "required")

								+btn('Save Field', '', 'save', '16', 'saveBtn mt-4 w-full justify-center cursor-pointer', '', '','',true)
								+btn('Update Field', '', 'update', '16', 'updateBtn hidden mt-4 w-full justify-center cursor-pointer', '', '','',true)

						div(id="consentCheckbox" class="bg-white p-4 rounded relative field-box hidden")
							h2.text-xl.font-semibold.mb-6 Consent Checkbox
							div(class="closeBtnFieldBoxJS absolute top-[28px] right-[20px]")
								button(class="hover:opacity-[0.8]" title="Close Window")
									span(class="material-symbols-outlined text-[20px] rtl:-rotate-[100deg]") close

							form.form-submit
								div(class="grid grid-cols-1 gap-x-5 gap-y-8")
									div(class="grid grid-cols-1 gap-x-5 gap-y-8")
										div
											+formTextArea(
												"Consent Text - EN:",
												"Input text",
												"",
												"",
												"",
												"",
												"",
												dataAttrs={
													'data-consent-text': 'en',
												},
												true
											)
									div(class="grid grid-cols-1 gap-x-5 gap-y-8")
										div
											+formTextArea(
												"Consent Text - AR:",
												"Input text",
												"",
												"",
												"",
												"",
												"",
												dataAttrs={
													'data-consent-text': 'ar',
												},
												true
											)
									div(class="grid grid-cols-2 gap-x-5 gap-y-8")
										div
											+formInput(
												"Link Text - EN",
												"(e.g.. Request Description)",
												"text",
												"link-text-en",
												"",
												"",
												"",
												"",
												"",
												"",
												dataAttrs={
													'data-link-text': 'en'
												})
										div
											+formInput(
												"Link Text - AR",
												"(e.g.. Request Description)",
												"text",
												"link-text-ar",
												"",
												"",
												"",
												"",
												"",
												"",
												dataAttrs={
													'data-link-text': 'ar'
												})
										div
											+formInput(
												"URL - EN:",
												"Enter URL Here",
												"text",
												"url-en",
												"",
												"",
												"",
												"",
												"",
												"",
												dataAttrs={
													'data-link-url': 'en',
												})

										div
											+formInput(
												"URL - AR:",
												"Enter URL Here",
												"text",
												"url-ar",
												"",
												"",
												"",
												"",
												"",
												"",
												dataAttrs={
													'data-link-url': 'ar',
												})
									div(class="flex flex-col gap-3")
										+label("Validations:")
										div(class="flex gap-3")
											+custom-switch("Required", "required-consent", "","required")

								+btn('Save Field', '', 'save', '16', 'saveBtn mt-4 w-full justify-center cursor-pointer', '', '','',true)
								+btn('Update Field', '', 'update', '16', 'updateBtn hidden mt-4 w-full justify-center cursor-pointer', '', '','',true)

						div(id="submitButton" class="bg-white p-4 rounded relative field-box hidden")
							h2.text-xl.font-semibold.mb-6 Submit Button
							div(class="closeBtnFieldBoxJS absolute top-[28px] right-[20px]")
								button(class="hover:opacity-[0.8]" title="Close Window")
									span(class="material-symbols-outlined text-[20px] rtl:-rotate-[100deg]") close

							form.form-submit
								div(class="grid grid-cols-1 gap-x-5 gap-y-8")
									div(class="grid grid-cols-2 gap-x-5 gap-y-8")
										div
											+formInput(
												"Button Text - EN:",
												"(e.g.. Submit)",
												"text",
												"text-en",
												"",
												"",
												"",
												"",
												true,
												"",
												dataAttrs={
													'data-submit-button': 'en'
												}
												)
										div
											+formInput(
												"Button Text - AR:",
												"(e.g.. Submit)",
												"text",
												"text-ar",
												"",
												"",
												"",
												"",
												true,
												"",
												dataAttrs={
													'data-submit-button': 'ar'
												}
												)
										div
											+formInput(
												"Tooltip - EN",
												"Request Title",
												"text",
												"tooltip-en",
												"",
												"",
												"",
												"",
												"",
												"",
												dataAttrs={
													'data-tooltip': 'en',
												})
										div
											+formInput(
												"Tooltip - AR",
												"Request Title",
												"text",
												"tooltip-ar",
												"",
												"",
												"",
												"",
												"",
												"",
												dataAttrs={
													'data-tooltip': 'ar',
												})
									div(class="flex flex-col gap-3")
										//- +label("Functions:")

										div(class="flex flex-col gap-3")
											//- div(class="flex gap-3")
												+radio(
													'redirect',
													'radio',
													'Redirect to URL:',
													"true",
													"",
													"",
													dataAttrs={
													'data-type': 'redirect'
													})
												+formInput("", "Enter URL Here", "", "")
											//- div(class="flex gap-3")
												+radio(
													'workflow',
													'radio',
													'Add Workflow:',
													"",
													"",
													"",
													dataAttrs={
													'data-type': 'workflow'
													},
													"checkbox")
												+btn('Add', '', 'add', '16', 'justify-center cursor-pointer', '', true)
											//- div(class="flex gap-3")
												+radio(
													'custom',
													'radio',
													'Custom API Hit:',
													"",
													"",
													"",
													dataAttrs={
													'data-type': 'api'
													})
												+formSelect("", "Select Method", ["GET","POST", "PUT","PATCH","DELETE"], "","!w-[170px]","postSelect")
												+formInput("", "Enter URL Here", "", "")
										//- div(class="flex gap-3")
											+custom-switch("Required", "required", "", "required")

								+btn('Save Field', '', 'save', '16', 'saveBtn mt-4 w-full justify-center cursor-pointer', '', '','',true)
								+btn('Update Field', '', 'update', '16', 'updateBtn hidden mt-4 w-full justify-center cursor-pointer', '', '','',true)

						div(id="validationErrorMessages" class="bg-white p-4 rounded relative field-box hidden")
							h2.text-xl.font-semibold.mb-6 VALIDATIONS ERROR MESSAGES
							div(class="closeBtnFieldBoxJS absolute top-[28px] right-[20px]")
								button(class="hover:opacity-[0.8]" title="Close Window")
									span(class="material-symbols-outlined text-[20px] rtl:-rotate-[100deg]") close

							form.form-submit
								div(class="flex flex-col gap-3")
									div(class="flex flex-col gap-2")
										+label("REQUIRED FIELD: ( ALL FIELDS )","pb-0")
										div(class="grid grid-cols-2 gap-x-5 gap-y-8")
											div
												+formInput(
													"English",
													"",
													"text",
													"",
													"",
													"",
													"",
													"",
													true,
													"",
													dataAttrs={
														'data-rule-required': 'en'
													})
											div
												+formInput(
												"Arabic",
												"",
												"text",
												"",
												"",
												"",
												"",
												"",
												true,
												"",
												dataAttrs={
													'data-rule-required': 'ar'
												})
									div(class="flex flex-col gap-2")
										+label("MINIMUM CHARACTERS: ( TEXTFIELD / TEXTAREA )","pb-0")
										div(class="grid grid-cols-2 gap-x-5 gap-y-8")
											div
												+formInput(
													"English",
													"",
													"text",
													"", 
													"",
													"",
													"",
													"",
													true,
													"",
													dataAttrs={
													'data-rule-minLength': 'en'
													})
											div
												+formInput(
													"Arabic",
													"",
													"text",
													"",
													"",
													"",
													"",
													"",
													true,
													"",
													dataAttrs={
													'data-rule-minLength': 'ar'
													})

									div(class="flex flex-col gap-2")
										+label("MAXIMUM CHARACTERS: ( TEXTFIELD / TEXTAREA )","pb-0")
										div(class="grid grid-cols-2 gap-x-5 gap-y-8")
											div
												+formInput(
													"English",
													"",
													"text",
													"", 
													"",
													"",
													"",
													"",
													true,
													"",
													dataAttrs={
													'data-rule-maxLength': 'en'
													})
											div
												+formInput(
													"Arabic",
													"",
													"text",
													"",
													"",
													"",
													"",
													"",
													true,
													"",
													dataAttrs={
													'data-rule-maxLength': 'ar'
													})

									div(class="flex flex-col gap-2")
										+label("MINIMUM SELECTED ITEMS: ( CHECKBOXES )","pb-0")
										div(class="grid grid-cols-2 gap-x-5 gap-y-8")
											div
												+formInput(
													"English",
													"",
													"text",
													"", 
													"",
													"",
													"",
													"",
													true,
													"",
													dataAttrs={
													'data-rule-minSelected': 'en'
													})
											div
												+formInput(
													"Arabic",
													"",
													"text",
													"",
													"",
													"",
													"",
													"",
													true,
													"",
													dataAttrs={
													'data-rule-minSelected': 'ar'
													})

									div(class="flex flex-col gap-2")
										+label("MAXIMUM SELECTED ITEMS: ( CHECKBOXES )","pb-0")
										div(class="grid grid-cols-2 gap-x-5 gap-y-8")
											div
												+formInput(
													"English",
													"",
													"text",
													"", 
													"",
													"",
													"",
													"",
													true,
													"",
													dataAttrs={
													'data-rule-maxSelected': 'en'
													})
											div
												+formInput(
													"Arabic",
													"",
													"text",
													"",
													"",
													"",
													"",
													"",
													true,
													"",
													dataAttrs={
													'data-rule-maxSelected': 'ar'
													})

									div(class="flex flex-col gap-2")
										+label("MAX FILE SIZE UPLOAD: ( FILE ATTACHMENT )","pb-0")
										div(class="grid grid-cols-2 gap-x-5 gap-y-8")
											div
												+formInput(
													"English",
													"",
													"text",
													"", 
													"",
													"",
													"",
													"",
													true,
													"",
													dataAttrs={
													'data-rule-maxSize': 'en'
													})
											div
												+formInput(
													"Arabic",
													"",
													"text",
													"",
													"",
													"",
													"",
													"",
													true,
													"",
													dataAttrs={
													'data-rule-maxSize': 'ar'
													})

									div(class="flex flex-col gap-2")
										+label("ALLOWED EXTENSIONS: ( FILE ATTACHMENT )","pb-0")
										div(class="grid grid-cols-2 gap-x-5 gap-y-8")
											div
												+formInput(
													"English",
													"",
													"text",
													"", 
													"",
													"",
													"",
													"",
													true,
													"",
													dataAttrs={
													'data-rule-allowedExtensions': 'en'
													})
											div
												+formInput(
													"Arabic",
													"",
													"text",
													"",
													"",
													"",
													"",
													"",
													true,
													"",
													dataAttrs={
													'data-rule-allowedExtensions': 'ar'
													})

								+btn('Save Field', '', 'save', '16', 'saveBtn mt-4 w-full justify-center cursor-pointer', '', '','',true)
								+btn('Update Field', '', 'update', '16', 'updateBtn hidden mt-4 w-full justify-center cursor-pointer', '', '','',true)

					div(class="flex flex-col gap-6 bg-gray-200 p-2")
						div(id="formPreview" class="bg-white p-4 rounded relative")
							.flex.justify-between.items-center.mb-6
								h2.text-xl.font-semibold Preview
								<button id="clearFormBtn" class="text-sm ms-[-50]">Clear Form</button>
								<select id="language" class="hidden">
									<option value="en">English</option>
									<option value="ar">Arabic</option>
								</select>
							p#no-fields.hidden No fields added yet
							<form id="form-preview" class="grid gap-x-5 gap-y-8">
							</form>

	script.
		document.addEventListener("DOMContentLoaded", function () {
			const navLinks = document.querySelectorAll('.md\\:space-x-8 a'); 
			const currentPage = window.location.pathname.split('/').pop(); 

			navLinks.forEach(link => {
				const href = link.getAttribute('href');
				if (href === currentPage) {
					// Make active
					link.classList.remove('border-transparent', 'text-gray-500', 'hover:border-gray-300', 'hover:text-gray-700');
					link.classList.add('border-primary-500', 'text-gray-900');
				} else {
					// Make inactive
					link.classList.remove('border-primary-500', 'text-gray-900');
					link.classList.add('border-transparent', 'text-gray-500', 'hover:border-gray-300', 'hover:text-gray-700');
				}
			});

		});

		//- document.querySelectorAll(".accordion-toggle").forEach((btn) => {
		//- 	btn.addEventListener("click", () => {
		//- 		const content = btn.nextElementSibling;
		//- 		const icon = btn.querySelector(".accordion-icon");
		//- 		const isOpen = btn.getAttribute("aria-expanded") === "true";

		//- 		btn.setAttribute("aria-expanded", !isOpen);
		//- 		icon.classList.toggle("rotate-180", !isOpen);

		//- 		if (!isOpen) {
		//- 			content.style.maxHeight = content.scrollHeight + "px";
		//- 		} else {
		//- 			content.style.maxHeight = null;
		//- 		}
		//- 	});
		//- });

block pageScripts
	script(src="../assets/js/form-builder.js")
	//- script(src="../assets/js/form-builder-old.js")
	script(src="../assets/js/Sortable.min.js")