extends layouts/layout.pug

block pageTitle
	- var title_en="From Builder | SNB RDD"
	- var title_ar="From Builder | SNB RDD"
	- var desc_en=""
	- var isAdmin=true
	- var desc_ar=''
	- var link_en=""
	- var link_ar=""

block content
	//- -
	//- 	const users = [
	//- 		{ initials: 'KH', name: 'Khalid Hafiz', email: 'strah.j@example.com' },
	//- 		{ initials: 'MR', name: 'Maryam Radwan', email: 'strah.j@example.com' },
	//- 		{ initials: 'LT', name: 'Lamia Tariq', email: 'John.smith@example.com' },
	//- 		{ initials: 'AM', name: 'Abdul Majeed', email: 'John.smith@example.com' },
	//- 		{ initials: 'HA', name: 'Hassan Al-Omran', email: 'strah.j@example.com' },
	//- 		{ initials: 'MF', name: 'Maha Faisal Alsanooni', email: 'strah.j@example.com' }
	//- 	]

	-
		const sidebarData = [
			{ link: "form-builder.html", name:"Form Builder" },
			{ link: "#", name:"Workflow Designer"},
			//- { link: "#", name:"test3"},
		]

	.flex.bg-gray-100.min-h-screen
		+sidebar(sidebarData)

		// Main Content
		.flex-1.p-3.pb-0
			.flex.justify-between.items-center.mb-6
				h3.font-semibold.m-0 Form Builder

			div(class="flex flex-col gap-6 bg-white p-4")

				div(class="flex gap-6 justify-between items-start")
					div(class="flex flex-col gap-6 w-full")
						div(class="flex gap-6 whitespace-nowrap items-center")
							+label("Request Name","min-w-[150px]")
							+input(
								"",
								"",
								"text",
								"",
								"",
								"",
								"",
								dataAttrs={
									'data-request': 'name'
								})
						div(class="flex gap-6 whitespace-nowrap")
							+label("Description","min-w-[150px] pt-2")
							+textarea(
								"",
								"min-h-[120px]",
								dataAttrs={
									'data-request': 'description'
								})
					div(class="flex justify-end w-50")
						div(class="flex flex-col gap-3")
							+btn('Save As Draft', '', 'Draft', '16', 'w-full justify-center cursor-pointer', '', '','',true)
							+btn('Apply', '', 'check', '16', 'w-full justify-center cursor-pointer', '', '','',true)
							+btn('Publish', '', 'publish', '16', 'w-full justify-center cursor-pointer', '', '','',true)
				
				<div id="accordion-group" class="w-full mx-auto space-y-3">
					<div class="form-container border overflow-hidden">
						<button class="accordion-toggle w-full flex items-center justify-between px-3 py-3 text-left bg-gray-100 hover:bg-gray-200 text-sm font-medium text-gray-800" aria-expanded="true">
						<span> Form</span>
						<svg class="accordion-icon w-4 h-4 transform transition-transform duration-200 rotate-180" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
							<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
						</svg>
						</button>
						<div class="accordion-content max-h-0 overflow-hidden transition-all duration-300 bg-white px-3 active-content" style="max-height: 488px;">
						<div class="py-4 text-sm text-gray-600">
							
							include includes/components/form-builder.pug							


						</div>
						</div>
					</div>
					//- <div class="form-container border">
					//- 	<button class="accordion-toggle w-full flex items-center justify-between px-3 py-3 text-left bg-gray-100 hover:bg-gray-200 text-sm font-medium text-gray-800" aria-expanded="false">
					//- 	<span>Form Two</span>
					//- 	<svg class="accordion-icon w-4 h-4 transform transition-transform duration-200" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
					//- 		<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
					//- 	</svg>
					//- 	</button>
					//- 	<div class="accordion-content transition-all duration-300 bg-white px-3">
					//- 	<div class="py-4 text-sm text-gray-600">
					//- 		include includes/components/form-builder.pug
					//- 	</div>
					//- 	</div>
					//- </div>
					
					</div>

	script.
		document.addEventListener("DOMContentLoaded", function () {
			const navLinks = document.querySelectorAll('.md\\:space-x-8 a'); 
			const currentPage = window.location.pathname.split('/').pop(); 

			navLinks.forEach(link => {
				const href = link.getAttribute('href');
				if (href === currentPage) {
					// Make active
					link.classList.remove('border-transparent', 'text-gray-500', 'hover:border-gray-300', 'hover:text-gray-700');
					link.classList.add('border-primary-500', 'text-gray-900');
				} else {
					// Make inactive
					link.classList.remove('border-primary-500', 'text-gray-900');
					link.classList.add('border-transparent', 'text-gray-500', 'hover:border-gray-300', 'hover:text-gray-700');
				}
			});

		});

		//- document.querySelectorAll(".accordion-toggle").forEach((btn) => {
		//- 	btn.addEventListener("click", () => {
		//- 		const content = btn.nextElementSibling;
		//- 		const icon = btn.querySelector(".accordion-icon");
		//- 		const isOpen = btn.getAttribute("aria-expanded") === "true";

		//- 		btn.setAttribute("aria-expanded", !isOpen);
		//- 		icon.classList.toggle("rotate-180", !isOpen);

		//- 		if (!isOpen) {
		//- 			content.style.maxHeight = content.scrollHeight + "px";
		//- 		} else {
		//- 			content.style.maxHeight = null;
		//- 		}
		//- 	});
		//- });

block pageScripts
	script(src="../assets/js/form-builder.js")
	//- script(src="../assets/js/form-builder-old.js")
	script(src="../assets/js/Sortable.min.js")