extends layouts/layout.pug

block pageTitle
	- var title_en="Request Detail | SNB RDD"
	- var title_ar="Request Detail | SNB RDD"
	- var desc_en=""
	- var isAdmin=false
	- var desc_ar=''
	- var link_en=""
	- var link_ar=""

block content
	-
		const users = [
			{ initials: 'KH', name: 'Khalid Hafiz', email: 'strah.j@example.com' },
			{ initials: 'MR', name: 'Maryam Radwan', email: 'strah.j@example.com' },
			{ initials: 'LT', name: 'Lamia Tariq', email: 'John.smith@example.com' },
			{ initials: 'AM', name: 'Abdul Majeed', email: 'John.smith@example.com' },
			{ initials: 'HA', name: 'Hassan Al-Omran', email: 'strah.j@example.com' },
			{ initials: 'MF', name: 'Maha Faisal Alsanooni', email: 'strah.j@example.com' }
		]

	-
		const attachments = [
			{ name: 'Brand_Guide.pdf', link: 'dummy.pdf' },
			{ name: 'Equipment_List.pdf', link: 'dummy.pdf' },
			{ name: 'Supporting_Document.pdf', link: 'dummy.pdf' }
		]

	-
		const sidebarData = [
			{ link: "review.html", name:"Reviews" },
			//- { link: "#", name:"test2"},
			//- { link: "#", name:"test3"},
		]

	.flex.bg-gray-100.min-h-screen

		+sidebar(sidebarData)

		// Main Content
		.flex-1.p-6.pb-0
			.flex.justify-between.items-center.mb-6
				h1.text-xl.font-semibold Request Detail

			div(class="bg-gray-500 p-4 rounded mb-4 relative text-white")
				.grid.grid-cols-1(class="md:grid-cols-2 gap-6")
					div
						p.text-sm.mb-1 Request Job Number : SNB-002
						h2.text-lg Product Innovation
						div.flex.items-center
							i.material-symbols-outlined.mr-1(style=`font-size: 16px; `) calendar_today
							p.text-xs.mb-0.mr-4 Submitted : Jan 13,2025 
							i.material-symbols-outlined.mr-1(style=`font-size: 16px; `) alarm
							p.text-xs.mb-0 Last Updated : Jan 13,2025 
					div.flex.items-end.flex-col
						div.flex.items-center.mb-2 
							p.text-sm.mb-0 Rejected 
							i.material-symbols-outlined.ml-1(style=`font-size: 20px; `) thumb_down
						div.flex.items-center 
							p.text-sm.mb-0 Edit Request For Resubmission 
							i.material-symbols-outlined.ml-1(style=`font-size: 20px; `) border_color

			div(class="bg-white p-4 mb-4 rounded relative")
				include includes/components/loader.pug

				form#projectRequestForm
					.form-field
						+formTextArea("Project Overview", "", "", "w-full", true, true, "This project focuses on streamlining request management for the SNB Brand team.")

					.form-field.mt-4
						+formTextArea("Objective", "", "", "w-full", true, true, "To simplify and centralize the submission and tracking of SNB Brand-related requests.")

					.form-field.mt-4
						+formTextArea("Requirements & Assets needed", "", "", "w-full", true, true, "Design mockups and initial wireframes for SNB Brand request workflows.")

					.form-field.mt-4
						label(for="file-upload" class="md:text-md text-base mb-2 font-medium leading-[150%] normal-case tracking-[1.5%] block pb-[10px]") Attachments
					.p-4.bg-gray-50.border.rounded
						.flex.gap-3.flex-wrap
							each file in attachments
								a(class="inline-flex items-center gap-1.5 cursor-pointer bg-gray-500 hover:bg-green text-white py-2 px-3 rounded transition text-xs " href=`../assets/pdf/${file.link}` download)= file.name
									i.material-symbols-outlined(style=`font-size: 18px`, class='rtl:rotate-[270deg]') download

					+btn('Approve', '', 'check_circle', '20', 'approveSubmitBtn mt-4 mr-4')
					+btn('Reject', '', 'thumb_down', '18', 'rejectSubmitBtn mt-4')

			.flex.justify-between.items-center.mb-6
				h2.text-xl.font-semibold.mb-0 Approval Flow

			div(class="bg-white p-4 mb-4 rounded relative")
				.grid.grid-cols-1(class="md:grid-cols-2 gap-x-[80px]")
					div 
						.p-4.shadow-md.mb-4.rounded.flex
							div.w-full.pl-2.border-s-2(class="border-s-[#0c7560]")
								p.mb-2 Khalid Hafiz
								p.text-xs.mb-2 Approved on : Jan 10,2025 
								p.text-xs.mb-0 Approved. Please proceed with the purchase. 
							div
								i.material-symbols-outlined.ml-1(style=`font-size: 30px; color:#0c7560`) check
						.p-4.shadow-md.mb-4.rounded.flex
							div.w-full.pl-2.border-s-2(class="border-s-[#0c7560]")
								p.mb-2 Abdulmajeed
								p.text-xs.mb-2 Rejected on : Jan 11,2025  
								p.text-xs.mb-0 Additional Document1, Document2  Will be Required. Allocation. (Re-assigned to the Requestor) 
							div
								i.material-symbols-outlined.ml-1(style=`font-size: 30px; color:#0c7560`) close
						.p-4.shadow-md.mb-4.rounded.flex
							div.w-full.pl-2.border-s-2(class="border-s-[#0c7560]")
								p.mb-2 Khalid Hafiz
								p.text-xs.mb-2 Approved on : Jan 10,2025 
								p.text-xs.mb-0 Approved. Please proceed with the purchase. 
							div
								i.material-symbols-outlined.ml-1(style=`font-size: 30px; color:#0c7560`, class="rotate-[270deg]") rotate_left
					div 
						.p-4.shadow-md.mb-4.rounded
							p.text-xl.underline.text-center Requestor Information
							table.table.w-full
								tbody
									tr 
										td.p-1 Request Type:
										td.p-1 Marketing
									tr 
										td.p-1 Business Type:
										td.p-1 Retail
									tr 
										td.p-1 Product and Services:
										td.p-1 Lease Finance - Sales and Dealers
									tr 
										td.p-1 Urgent:
										td.p-1 Yes
									tr 
										td.p-1 Expected Launch Date:
										td.p-1 Feb 9, 2025

	script.
		function handleFileUpload(event) {
			const fileInput = event.target;
				const fileNameDisplay = document.getElementById('file-name');

				if (fileInput.files.length > 0) {
					fileNameDisplay.textContent = fileInput.files[0].name;
				} else {
					fileNameDisplay.textContent = 'No file selected';
				}
			}
		document.addEventListener("DOMContentLoaded", function () {

			const navLinks = document.querySelectorAll('.md\\:space-x-8 a');
			const currentPage = window.location.pathname.split('/').pop();

			navLinks[0].classList.remove('border-primary-500', 'text-gray-900');
			navLinks[0].classList.add('border-transparent', 'text-gray-500', 'hover:border-gray-300', 'hover:text-gray-700');

			navLinks[1].classList.remove('border-transparent', 'text-gray-500', 'hover:border-gray-300', 'hover:text-gray-700');
			navLinks[1].classList.add('border-primary-500', 'text-gray-900');


			const approveSubmitBtn = document.querySelector('.approveSubmitBtn');
			const rejectSubmitBtn = document.querySelector('.rejectSubmitBtn');

			const loader = document.getElementById('loaderOverlay');


		approveSubmitBtn.addEventListener('click', (e) => {
			e.preventDefault();

			loader.classList.remove('hidden');

			setTimeout(() => {
				loader.classList.add('hidden');

				//- Success message
				Toastify({
					text: "Review request has been approved successfully!",
					duration: 3000,
					position: "center",
					//- close: true,
					stopOnFocus: true,
					//- gravity: "bottom",
					style: {
						background: "linear-gradient(to left, #0c7560, #00b09b)" 
					}
				}).showToast();

				}, 3000);
			});

			rejectSubmitBtn.addEventListener('click', (e) => {
				e.preventDefault();

				loader.classList.remove('hidden');

				setTimeout(() => {
					loader.classList.add('hidden');

					Toastify({
						text: "Review request has been rejected!",
						duration: 3000,
						position: "center",
						//- close: true,
						stopOnFocus: true,
						//- gravity: "bottom",
						style: {
							background: "linear-gradient(to right, #ff5f6d, #c92222)" 
						}
					}).showToast();


				}, 3000);
			});

		});