extends layouts/layout.pug

block pageTitle
	- var title_en="Review Request | SNB RDD"
	- var title_ar="Review Request | SNB RDD"
	- var desc_en=""
	- var isAdmin=false
	- var desc_ar=''
	- var link_en=""
	- var link_ar=""

block content
	-
		const users = [
			{ initials: 'KH', name: 'Khalid Hafiz', email: 'strah.j@example.com' },
			{ initials: 'MR', name: 'Maryam Radwan', email: 'strah.j@example.com' },
			{ initials: 'LT', name: 'Lamia Tariq', email: 'John.smith@example.com' },
			{ initials: 'AM', name: 'Abdul Majeed', email: 'John.smith@example.com' },
			{ initials: 'HA', name: 'Hassan Al-Omran', email: 'strah.j@example.com' },
			{ initials: 'MF', name: 'Maha Faisal Alsanooni', email: 'strah.j@example.com' }
		]

	-
		const attachments = [
			{ name: 'Brand_Guide.pdf', link: 'dummy.pdf' },
			{ name: 'Equipment_List.pdf', link: 'dummy.pdf' },
			{ name: 'Supporting_Document.pdf', link: 'dummy.pdf' }
		]

	-
		const sidebarData = [
			{ link: "review.html", name:"Reviews" },
			//- { link: "#", name:"test2"},
			//- { link: "#", name:"test3"},
		]

	.flex.bg-gray-100.min-h-screen

		+sidebar(sidebarData)

		// Main Content
		.flex-1.p-6.pb-0
			.flex.justify-between.items-center.mb-6
				h1.text-xl.font-semibold Review Request

			div(class="bg-white p-4 rounded relative")
				include includes/components/loader.pug

				h2.text-lg.font-semibold.mb-4 Request Job Number : SNB-002
				form#projectRequestForm

					.form-field
						label(class="md:text-md text-base  font-medium leading-[150%] normal-case tracking-[1.5%] block pb-[10px]") Is it a new request?
						.flex.gap-4.mt-2
							+radio('request-yes', 'request', 'Yes', true, true, true)
							+radio('request-no', 'request', 'No', false, true, true)

					.grid.grid-cols-1(class="md:grid-cols-3 gap-6")
						.form-field
							+formInput("Brand Services", "", "text", "name", "", "", true, true, "", "Branding Event")
							//- +formSelect("Brand Services", "Branding Digital Assets", ["Branding Event", "Branding Production", "Branding Assets", "Branding Guideline"], "", "w-full")

						.form-field
							+formInput("Brand Services", "", "text", "name", "", "", true, true, "", "Internal Programs")
							//- +formSelect("Requestor", "Branch Banking Division", ["SNB academy", "HR", "Internal Programs", "Businesses"], "", "w-full")

						.form-field
							+formInput("Brand Services", "", "text", "name", "", "", true, true, "", "Production & creatives")
							//- +formSelect("Services Related to", "Social Media post - Video /static", ["Digital design assets", "Production & creatives", "Event creatives", "Proofreading/Translation"], "", "w-full")

					h2.text-lg.font-semibold.mb-4.mt-12 Project Brief

					.form-field
						+formTextArea("Project Overview", "", "", "w-full", true, true, "This project focuses on streamlining request management for the SNB Brand team.")

					.form-field.mt-4
						+formTextArea("Objective", "", "", "w-full", true, true, "To simplify and centralize the submission and tracking of SNB Brand-related requests.")

					.form-field.mt-4
						+formTextArea("Requirements & Assets needed", "", "", "w-full", true, true, "Design mockups and initial wireframes for SNB Brand request workflows.")

					.grid.grid-cols-1(class="md:grid-cols-4 gap-6 mt-6")
						.form-field
							+formInput("Expected Launch date", "mm/dd/yyyy", "date", "data", "", "", true, true, "", "2025-10-01")
						.form-field
							+formInput("Amount", "", "text", "amount", "", "w-full", true, true, "", "1000")
						.form-field
							label(class="md:text-md text-base  font-medium leading-[150%] normal-case tracking-[1.5%] block pb-[10px]") Budget Required
							.flex.gap-4.mt-2
								+radio('option-1', 'example', 'Yes', true, true, true)
								+radio('option-2', 'example', 'No', false, true, true)
					.form-field.mt-4
						label(for="file-upload" class="md:text-md text-base mb-2 font-medium leading-[150%] normal-case tracking-[1.5%] block pb-[10px]") Attachments
					.p-4.bg-gray-50.border.rounded
						.flex.gap-3.flex-wrap
							each file in attachments
								a(class="inline-flex items-center gap-1.5 cursor-pointer bg-gray-500 hover:bg-green text-white py-2 px-3 rounded transition text-xs " href=`../assets/pdf/${file.link}` download)= file.name
									i.material-symbols-outlined(style=`font-size: 18px`, class='rtl:rotate-[270deg]') download

					.form-field.mt-4
						+formTextArea("Comments <sup>*</sup>", "", "", "w-full")

					+btn('Approve', '', 'check_circle', '20', 'approveSubmitBtn mt-4 mr-4')
					+btn('Reject', '', 'thumb_down', '18', 'rejectSubmitBtn mt-4')

	script.
		function handleFileUpload(event) {
			const fileInput = event.target;
				const fileNameDisplay = document.getElementById('file-name');

				if (fileInput.files.length > 0) {
					fileNameDisplay.textContent = fileInput.files[0].name;
				} else {
					fileNameDisplay.textContent = 'No file selected';
				}
			}
		document.addEventListener("DOMContentLoaded", function () {

			const navLinks = document.querySelectorAll('.md\\:space-x-8 a');
			const currentPage = window.location.pathname.split('/').pop();

			navLinks[0].classList.remove('border-primary-500', 'text-gray-900');
			navLinks[0].classList.add('border-transparent', 'text-gray-500', 'hover:border-gray-300', 'hover:text-gray-700');

			navLinks[1].classList.remove('border-transparent', 'text-gray-500', 'hover:border-gray-300', 'hover:text-gray-700');
			navLinks[1].classList.add('border-primary-500', 'text-gray-900');


			const approveSubmitBtn = document.querySelector('.approveSubmitBtn');
			const rejectSubmitBtn = document.querySelector('.rejectSubmitBtn');

			const loader = document.getElementById('loaderOverlay');


		approveSubmitBtn.addEventListener('click', (e) => {
			e.preventDefault();

			loader.classList.remove('hidden');

			setTimeout(() => {
				loader.classList.add('hidden');

				//- Success message
				Toastify({
					text: "Review request has been approved successfully!",
					duration: 3000,
					position: "center",
					//- close: true,
					stopOnFocus: true,
					//- gravity: "bottom",
					style: {
						background: "linear-gradient(to left, #0c7560, #00b09b)" 
					}
				}).showToast();

				}, 3000);
			});

			rejectSubmitBtn.addEventListener('click', (e) => {
				e.preventDefault();

				loader.classList.remove('hidden');

				setTimeout(() => {
					loader.classList.add('hidden');

					Toastify({
						text: "Review request has been rejected!",
						duration: 3000,
						position: "center",
						//- close: true,
						stopOnFocus: true,
						//- gravity: "bottom",
						style: {
							background: "linear-gradient(to right, #ff5f6d, #c92222)" 
						}
					}).showToast();


				}, 3000);
			});

		});